@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
}

body {
  background-color: #282a36;
  font-family: 'Montserrat', sans-serif;
  color: #f8f8f2;
}

.leaflet-container {
  height: 120px;
  width: 100%;
  margin: 20px auto;
  border-radius: 5px;
}
