@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Inconsolata', monospace;
}

.leaflet-container {
  height: 400px;
  width: 80%;
  margin: 0 auto;
}
